body{
    background-color: black;
    color: aliceblue;
    font-family: "Consolas";
}
#para{
    font-size: larger;
    color: blueviolet;
}
.LinkedIn {
    position: relative; /* Allows child elements to be positioned relative to this container */
  }
#menu {
    white-space: nowrap;
    display: inline-block;
    width:1000px;
    text-align: center;
    color: ghostwhite;
    margin:auto;
}
.imgLinkedIn {
    position: absolute;
    top: 0;
    right: 0;
    /* Optional adjustments */
    width: 50px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
  }

.imgGithub {
    position: absolute;
    top: 0;
    left: 0;
    /* Optional adjustments */
    width: 50px; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
  }
#H_Projects{
    font-size:x-small;
    color:rgb(255, 255, 255);
    text-decoration:none;
    margin: 0;
}
h2{
    font-size: xx-large;
}
h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200, 23%, 54%);
    z-index: -1;
    transition: transform .3s ease;
  }
  
  h1 {
    position: relative;
    font-size: x-large;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }
  

  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
